*{
    padding: 0;
    margin: 0;
}
body{
    background: url('../img/java.png');
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
}
.titulo-principal{
    margin-top: 50px;
}