*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
}
header nav{
    background: rgb(11, 148, 68);
    width: 100%;
}
nav ul{
    list-style: none;
    text-align: right;
}
nav ul li{
    display: inline-block;
    /* text-align: right; */
    position: relative;
}
nav ul li:hover{
    background: rgb(164, 198, 78);
}
nav ul li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 20px;
}
nav ul li .children {
    display: none;
    position: absolute;
    background: #011826;
    text-align: left;
}
nav ul li:hover .children {
    display: block;
    width: 105%;
    text-align: left;
}
nav ul li .children li {
    overflow: hidden;
    display: block;
    border-bottom: rgba(255, 255, 255, .5);
}