*{
    padding: 0;
    margin: 0;
}
body{
    background: url('../img/5.jfif');
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-size: 1em;
}
h2{
    font-size: 1.9em;
    text-align: center;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
}
.contenedor-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}
.contenedor-secundario{
    background-color: rgb(245, 245, 245, 0.7);
    border-radius: 5px;
}
.barra-1, .boton-accion{
    display: inline-block;
}
.barra-1{
    margin-left: 90px;
}
.barra{
    /* border: none; */
    border-radius: 5px;
}
.boton{
    margin: 0 auto;
    background: greenyellow;
    font-size: 1em;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 7px;
}
.boton-accion{
    padding: 10px;
    text-align: center;
}
.respuesta-1{
    text-align: center;
    padding: 7px;
    font-family: 'Oswald', sans-serif;
}