*{
    padding: 0;
    margin: 0;
}
body{
    background: url('../img/biblioteca-1739-1183.png');
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-size: 1.5em;
    text-align: center;
}
.contenedor-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}
.contenedor-secundario{
    background-color: rgb(245, 245, 245, 0.7);
    border-radius: 5px;
}
.titulo, .primero, .segundo, .tercero, .cuarto, .respuesta {
    font-family: 'Roboto', sans-serif; 
}
.titulo{
    padding: 7px;
}
.primero, .barra1, .segundo, .barra2, .tercero, .barra3, .cuarto, .barra4 {
    display: inline-block;
    padding: 7px;
}
.barra1{
    margin-left: 15px;
}
.barra3{
    margin-left: 17px;
}
.barra4{
    margin-left: 14px;
}
.contenedor-barra{
     /* border: none; */
     border-radius: 5px;
}
.boton-accion{
    padding: 7px;
    text-align: center;
}
.boton{
    font-family: 'Roboto', sans-serif; 
    margin: 0 auto;
    background: greenyellow;
    font-size: 1em;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 7px;
}
.respuesta{
    text-align: center;
    padding: 7px;
}